
/*Main*/
main{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 80px);
}

main h1{
    font-size: 25pt;
    font-weight: 400;
    margin: 30px 0px;
}

/*Temperatura*/

main .temperatura{
    display: flex; 
    flex-grow: row wrap;
    justify-content: space-between;
}
main .temperatura .clima{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
main .temperatura .clima .maxmin{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
main .temperatura .clima .maxmin .temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;    
}
main .temperatura .clima .maxmin .temp span{
    font-size:14px;
    color: #fff;
}
main .temperatura .clima .maxmin .temp .minm{
    margin-top: -5px;
}

main .temperatura .clima p{
    color: #fff;
    font-size: 48px;
    margin-left: 10px;
}
main .temperatura .clima .extras p{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}
main .temperatura .clima .celsius{
    font-size: 18px;
    color: #e8eaed;
}

main .temperatura .status{
    color: #fff;
    text-align: right;
}
main .temperatura .status h2{
    font-size:22px;
    font-weight: 400;
}
main .temperatura .status h3{
    font-size:16px;
    font-weight: 400;
}

main .tudo{
    background-color: #7077df;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


main .tudo .semana{
    display: flex;
    flex-grow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
}
main .tudo .semana .hour{
    background-color: #4a4d9c;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

main .tudo .semana .hour .temp {
    text-align: right;
    color: #fff;
    margin-left: 3px;
}