
.pesquisar{
    width: 40%;
    margin: 5% 30% 0px 30%;
    input{
        border: none;
        outline: none;
        padding: 4.5px 20px;
        height: 39px;
        width: calc(100% - 100px);
        font-size: 12pt;
        color: #fff;
        background-color: #303134;
        border-radius: 50px 0px 0px 50px;
    }
    button{
    background-color: #303134;
    color: #757B80;
    border: none;
    font-size: 12pt;
    padding: 4px 10px;
    width: 100px;
    height: 39px;
    border-radius: 0px 50px 50px 0px;
    }&::placeholder{
        color: #757B80;
    }
}